<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.aubreypwd.dashit</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>40C307E2-43F7-4596-BC22-D1D76129D277</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C500F33-E1EC-401D-B049-2E2190BFF674</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C500F33-E1EC-401D-B049-2E2190BFF674</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06CA2151-2A64-4AB6-9F01-DBBB8AA52E11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Aubrey Portwood</string>
	<key>description</key>
	<string>A workflow that converts any string to-this-format-with-dashes.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dashit</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dashit</string>
				<key>subtext</key>
				<string>Dash this text.</string>
				<key>text</key>
				<string>Dashit</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>40C307E2-43F7-4596-BC22-D1D76129D277</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>function dashit($string) {
    
	//Lower case everything
    $string = strtolower($string);
    
	//Make alphanumeric (removes all other characters)
    $string = preg_replace("/[^a-z0-9_\s-]/", "", $string);
    
	//Clean up multiple dashes or whitespaces
    $string = preg_replace("/[\s-]+/", " ", $string);
    
	//Convert whitespaces and underscore to dash
    $string = preg_replace("/[\s_]/", "-", $string);
    return $string;
}

$query = "{query}";
$query = dashit( $query );
$query = trim( $query );
$query = trim( $query, '-' );

echo $query;</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5C500F33-E1EC-401D-B049-2E2190BFF674</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>06CA2151-2A64-4AB6-9F01-DBBB8AA52E11</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow will convert any string to this-format-in-lowercase with spaces and special characters to dashes (-).</string>
	<key>uidata</key>
	<dict>
		<key>06CA2151-2A64-4AB6-9F01-DBBB8AA52E11</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>40C307E2-43F7-4596-BC22-D1D76129D277</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>5C500F33-E1EC-401D-B049-2E2190BFF674</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/aubreypwd/alfred-workflow-dashit</string>
</dict>
</plist>
